.main{
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: #F9FAFC;
    border: solid 1px #D2D5DB;
    border-radius: 5px;
}

.value,
.unit,
.type,
.max,
.min{
    display: flex;
    flex-direction: column;
    align-items: start;
    font-size: 15px;
    font-weight: bold;
}


.value{
    width: 30%;
}

.unit, 
.type{
    width: 20%;
}

.max{
    width: 10%;
}

.min{
    width: 15%;
}


.finalGroup{
    display: flex;
    align-items: center;
    gap: 5px;
}

.bin{
    width: 20px;
    height: 20px;
    cursor: pointer;
}