:root {
  --main-color: #384152;
  --secound-color: #1f304e3a;
}


.card{
    box-shadow: 0 4px 15px rgba(0,0,0,0.1); 
}

.cardBody{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 30px;
    min-height: 600px;
    width: 600px;
}

.cardBody .head{
    width: 100%;
    display: flex;
    align-items: start;
    margin-bottom: 30px;
    padding-bottom: 5px;
    border-bottom: solid 2px var(--secound-color);
}

.cardBody .head h1
{
    font-size: 20px;
    font-weight: 600;
    color: var(--main-color);
}


.cardBody .form{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    gap: 10px;
    color: var(--main-color);
}

.cardBody .form .group{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: start;
    gap: 5px;
}

.param{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0 5px;
}

.param h1{
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.2px;
    color: var(--main-color);
    margin: 0;
}

.param::after{
    content: "";
    flex: 1;
    height: 2px;
    background-color: var(--secound-color);
}

.paramsArea{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-height: 150px;
    overflow-y: auto;
}

.paramsArea::-webkit-scrollbar {
  width: 4px;
}

.paramsArea::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  border-radius: 3px;
}



.newParam{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.newParam::after,
.newParam::before{
    content: "";
    flex: 1;
    height: 2px;
    background-color: var(--secound-color);
}

.submitBox{
    width: 100%;
    display: flex;
    justify-content:end;
    padding: 10px 0;
    border-top: solid 2px var(--secound-color);
}