:root {
  --main-color: #384152;
  --secound-color: #1f304e3a;
}


.card{
    box-shadow: 0 4px 15px rgba(0,0,0,0.1); /* الظل */
}

.cardBody{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 30px;
    height: 600px;
    width: 600px;
}

.cardBody .head{
    width: 100%;
    display: flex;
    align-items: start;
    margin-bottom: 30px;
    padding-bottom: 5px;
    border-bottom: solid 1px var(--secound-color);
}

.cardBody .head h1
{
    font-size: 20px;
    color: var(--main-color);
}


.cardBody .form{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    gap: 20px;
    color: var(--main-color);
}

.cardBody .form .group{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: start;
    gap: 5px;
}

.param h1{
    font-size: 18px;
    color: var(--main-color);
}