.dashboard {
  font-family: Arial, sans-serif;
  width: 100%;
}

.dashboard .head{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.head .addBtn{
    border: none;
    background-color: #4a90e2;
    color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 5px 10px;
}

.head .addBtn:hover{
    background-color:#4a91e290;
}

.head .addBtn img{
  width: 25px;
  height: 25px;
}

.head h2{
  font-size: 20px;
  color: rgb(102, 116, 140);
  margin: 0;
}

.dashboardTitle {
  text-align: center;
  margin-bottom: 20px;
}

.slotsContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
   background-color: #f4f6f8;
    border-radius: 20px;
    padding: 10px;
}

.slot,
.slotHead {
  background-color: #f4f6f8;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;
}

.slotHead{
  margin-bottom: 10px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.slotHead .type,
.slotHead .status{
  padding: 5px 10px;
  font-size: 14px;
}

.slotHead .patient{
  color: black;
}

.slot{
  gap: 10px;
  justify-content: start;
  height: 100px;
}

.slot:not(:last-child){
    border-bottom: .5px solid rgba(0, 0, 0, 0.122);
}

.slot:hover {
  background-color: #dbe7fc;
}


/*appointment*/
.slot .appoint{
  padding: 10px;
  border-radius: 10px;
  background: linear-gradient(135deg, #eaf2ff, #ffffff);
  border-left: 4px solid #4a90e2;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;

}

.main{
  display: flex;
  align-items: center;
}

.appoint .info{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.slot .appoint .info .patient{
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.slot .appoint .info .patient:hover{
  color: rgba(0, 0, 0, 0.575);
} 

.timeContainer{
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: start;
}

.time {
  font-weight: bold;
  font-size: 14px;
}

.tags{
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 600;
}

.slot .status,
.slot .type {
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 13px;
}

.slot .status{
  color: white;
}

.slot .type{
  background-color: #d4e8ed;
}

.slot .action{
  cursor: pointer;
}

.slotAddBox{
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px dashed rgba(0, 0, 0, 0.245);
  border-radius: 20px;
  color: rgba(0, 0, 0, 0.245);
}

.slotAddBox:hover{
  border-color: black;
  color: black;
}

