.dashboard {
  font-family: Arial, sans-serif;
  width: 100%;
}

.dashboard .head{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.head .addBtn{
    border: none;
    background-color: #0A3D62;
    color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 5px 10px;
}

.head .addBtn:hover{
    background-color: #0a3d62af;
}

.head .addBtn img{
  width: 25px;
  height: 25px;
}

.head h2{
  font-size: 20px;
  color: rgb(102, 116, 140);
  margin: 0;
}

.dashboardTitle {
  text-align: center;
  margin-bottom: 20px;
}

.slotsContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.slot,
.slotHead {
  background-color: #f4f6f8;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;
}

.slotHead{
  margin-bottom: 10px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.slotHead .type,
.slotHead .status{
  padding: 5px 10px;
  font-size: 14px;
}

.slotHead .patient{
  color: black;
}

.slot:not(:last-child){
    border-bottom: .5px solid rgba(0, 0, 0, 0.122);
}

.slot:hover {
  background-color: #dbe7fc;
}

.slot .appoint{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.main{
  display: flex;
  align-items: center;
}

.main .info{
  display: flex;
  align-items: center;
  gap: 20px;
}

.slot .main .info .patient{
  cursor: pointer;
  color: blue;
}

.slot .main .info .patient:hover{
  color: rgb(4, 4, 131);
} 

.timeContainer{
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: start;
}

.time {
  font-weight: bold;
  font-size: 14px;
}

.tags{
  display: flex;
  align-items: center;
  gap: 10px;
}

.slot .status,
.slot .type {
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 14px;
}

.slot .status{
  color: white;
}

.slot .type{
  background-color: #d4e8ed;
}

.slot .action{
  cursor: pointer;
}



