.main{
    width: calc((100% - 30px) / 3);
    border: .5px solid rgba(0, 0, 0, 0.192);
    border-radius: 6px;
    padding: 10px;
}

.main img{
    width: 100%;
    height: 200px;
    object-fit: contain;
    margin-bottom: 10px;
}

.main .body{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

.body p{
    margin: 0;
}

.body span{
    font-size: 14px;
}