
.container{
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    background-color: #0a3d623d;
    z-index: 1000;
}

.container .cardBody{
    width: 500px;
}

.form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.form .group{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.form .btns{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btns .cancel{
    background-color: rgb(150, 54, 54);
    border: none;
}

.btns .cancel:hover{
    background-color: rgba(150, 54, 54, 0.596);
}