.form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.form .group{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
}