.main{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    width: 50%;
    background-color: white;
    border: solid 1px #D2D5DB;
    border-radius: 5px;
}



.main .head{
    padding: 20px 20px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main .head .title{
    color: rgb(102, 116, 140);
    margin-bottom: 10px;
}

.head .addBtn{
    width: 150px;
    border: none;
    background-color: #0A3D62;
    color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 5px 10px;
}

.head .addBtn:hover{
    background-color: #0a3d62af;
}

.main .cardsBox{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    height: 400px;
    overflow-y: auto;
    padding: 10px 20px;
}


.cardsBox::-webkit-scrollbar
{
  width: 8px;
}

.cardsBox::-webkit-scrollbar-thumb {
  background-color: #797c80;
  border-radius: 3px;
}