.main h1{
    color: rgb(102, 116, 140);
    text-align: start;
    font-size: 25px;
}

.testFile{
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
}

.input{
    display: flex;
    width: 100%;
    gap: 10px;
}


@media (max-width: 992px) {
    .testFile{
        flex-wrap: wrap;
    }
    .input{
        display: flex;
        flex-wrap: wrap;
    }
}


@media (max-width: 576px) {
    
}

