.main{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 50%;
    background-color: white;
    border: solid 1px #D2D5DB;
    border-radius: 5px;
}

.main .container{
    width: 100%;
    height: 400px;
    overflow-y: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.container::-webkit-scrollbar
{
  width: 8px;
}

.container::-webkit-scrollbar-thumb {
  background-color: #797c80;
  border-radius: 3px;
}

.main .test{
    width: 100%;
    padding: 10px;
    box-shadow: 0 8px 30px rgba(0,0,0,0.12);
    border-radius: 10px;
}

.main .test .head,
.head .info{
    display: flex;
    align-items: center;
    gap: 10px;
}

.main .head{
    padding: 20px 20px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main .head .title{
    color: rgb(102, 116, 140);
    margin-bottom: 10px;
}

.head .btns .addBtn{
    width: 150px;
    border: none;
    background-color: #0A3D62;
    color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
}

.head .addBtn:hover{
    background-color: #0a3d62af;
}

.main .test .head{
    padding: 10px;
    width: 100%;
    justify-content: space-between;
}

.head .btns{
    display: flex;
    align-items: center;
    gap: 10px;
}

.btns .edit{
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    gap: 5px;
}

.btns .edit img{
    width: 25px;
    height: 25px;
}


.btns .edit:hover{
    background-color: #66748c3a;
    color: white;
    cursor: pointer;
}

.main ul{
    margin: 0;
}


.main ul li{
    text-align: start;
}