.card{
    width: 256px;
    height: 110px !important;
    padding: 15px 20px;
}

.card-body{
    height: 80px;
    width: 58px;
    gap: 10px;
}

.heading{
    color: #384152;
}

.subtitle{
    color: #66748C;
}

.icon{
    width: 46px;
    height: 46px;
    padding: 13px 15px;
    border-radius: 5px;
    background-color: #2F9CCA;
}