.emr{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 80vh;
    gap: 20px;
}

.emr .info{
    display: flex;
    gap: 10px;
    height: 220px;
    width: 100%;
}



.tags{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    width: 50%;
    background-color: white;
    border: solid 1px #D2D5DB;
    border-radius: 5px;
    padding: 10px 20px;
    overflow-y: auto;
    overflow-x: hidden;
}

.tags .head{
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tags .head .title{
    color: rgb(102, 116, 140);
}


.tags .tags_box{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.tags_box .tag{
    padding: 5px 10px;
    border-radius: 2px;
    font-weight: 500;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}


.tags_box .tag .icon{
    width: 15px;
    height: 15px;
}


.addBtn{
    border: none;
    background-color: #0A3D62;
    color:  white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 5px 10px;
}

.addBtn:hover{
    background-color: #1f6191;
}