.emr{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 80vh;
    gap: 20px;
}

.emr .info{
    display: flex;
    gap: 10px;
}



.complaint_tags .tags_box{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.tags_box .tag{
    padding: 2px 10px;
    background-color: #AEDFF7;
    color: #0A3D62;
    border-radius: 10px;
    font-weight: 500;
}

.last_appointment{
    display: flex;
    width: 100%;
    background-color: white;
    border: solid 1px #D2D5DB;
    border-radius: 5px;
    padding: 10px 20px;
}