.emr{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 80vh;
    gap: 20px;
}

.emr .info{
    display: flex;
    gap: 10px;
    height: 220px;
    width: 100%;
}



.tags{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    width: 50%;
    background-color: white;
    border: solid 1px #D2D5DB;
    border-radius: 5px;
    padding: 10px 20px;
    overflow-y: auto;
    overflow-x: hidden;
}

.tags .title{
    color: rgb(102, 116, 140);
    margin-bottom: 20px;
}


.tags .tags_box{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.tags_box .tag{
    padding: 2px 10px;
    background-color: #AEDFF7;
    color: #0A3D62;
    border-radius: 10px;
    font-weight: 500;
}

