.general_info{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    width: 500px;
    background-color: white;
    border: solid 1px #D2D5DB;
    border-radius: 5px;
    height: 220px;
    padding: 10px 20px;
    overflow-y: auto;
    overflow-x: hidden;
}

.general_info .meta_data{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.general_info .title{
    color: rgb(102, 116, 140);
}


.general_info .name{
    font-size: 30px;
    font-weight: 500;
    margin: 0 0 10px 0;
    padding: 0;
}



.general_info .sex_age,
.general_info .contact{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}


.value{
    font-size: 16px;
    font-weight: 500;
}

.value .label{
    color: rgb(102, 116, 140);
    margin-right: 5px;
}
