.medical_info{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    width: 100%;
    background-color: white;
    border: solid 1px #D2D5DB;
    border-radius: 5px;
    padding: 10px 20px;
    overflow-y: auto;
    overflow-x: hidden;
}

.medical_info .head{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.medical_info .head .title{
    color: rgb(102, 116, 140);
    margin-bottom: 10px;
}

.medical_info .info_cards{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;
    gap: 10px;
}