.info_card{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 10px;
    border: solid 1px #D2D5DB;
    border-radius: 5px;
}

.header{
    width: 100%;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .icon{
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.info_card .card_title{
    font-size: 20px;
    font-weight: 500;
}

.info_card .card_items{
    width: 100%;
    display: none;
    justify-content: space-around;
}

.info_card .card_item{
    padding: 5px;
    border-radius: 5px;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #AEDFF7;
    color: #0A3D62;
}

.info_card .card_list{
    width: 100%;
    display: none;
    flex-direction: column;
    gap: 5px;
    padding: 0 12px;
}

.card_list .card_listItem{
    width: 100%;
    gap: 5px;
    display: flex;
}

.card_list .card_listItem .card_label,
.card_list .card_listItem .card_value{
    font-size: 16px;
    font-weight: 500;
    
}
.card_list .card_listItem .card_label{
    color: rgb(102, 116, 140);
}

.info_card .card_label{
    font-size: 16px;
}

.info_card .card_value{
    font-size: 20px;
    font-weight: bold;
}

.card_list button{
    width: 150px;
    border: none;
    background-color: #0A3D62;
    color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 5px 10px;
}

.card_list button:hover{
    background-color: #0a3d62af;
}
