.control{
    width: 100%;
    height: 176px;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 20px;
    gap: 10px;
    background-color: white;
    border: solid 1px #D2D5DB;
    border-radius: 5px;
}



.control .info{
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: start;
}

.info .title{
    font-size: 20px;
    font-weight: bold;
}

.info .quantity{
    font-size: 14px;
}

.operations{
    width: 100%;
    height: 45px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.control .operations .left{
    height: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}



.left .search{
    height: 100%;
    width: 259px;
    display: flex;
    align-items: center;
    padding-right: 15px;
    border-radius: 5px;
    border: solid 1px #D2D5DB;
}

.search input{
    width: 100%;
    height: 100%;
    border: none;
    padding: 13.5px 15px;
}

.search input:focus{
    outline: none;
}

.left .filter{
    display:  flex;
    height: 100%;
    gap: 20px;
    align-items: center;
}

.id-drop-down,
.gender-drop-down{
    width: 145px;
    height: 100%;
    padding: 11.5px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: solid 1px #D2D5DB;
    border-radius: 5px;
    color: #66748C;
}

.add-patient{
    border: none;
    width: 139px;
    height: 100%;
    background-color: #2F9CCA;
    color: white;
    padding: 12.5px 15px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}