.search-drop-down{
    position: absolute;
    top: 75px;
    left:0;
    background-color: white;
    border: solid 1px #D2D5DB;
    border-radius: 5px;
    width: 200px;
    height: auto;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 5px;
    gap: 3px;
}

.search-drop-down span{
    width: 100%;
    text-align: left;
    cursor: pointer;
    padding: 3px 10px;
    border-radius: 5px;
}

.search-drop-down span:hover{
    background-color: #D2D5DB;
}