
.table{
    width: 100%;
    text-align: start;
}

.t-body{
    width: 100%;
    overflow-y: auto;  
}

table{
    width: 100%;
    border: solid 1px #D2D5DB;
    border-collapse:unset;
    background-color: white;
}


th,td{
    padding: 10px 20px;
}

tr th{
    color: #66748C;
    font-weight: 500;
    font-size: 14px;
}

tr td{
    color: #384152;
    font-weight: 500;
    border-bottom: solid 1px #D2D5DB;
}


tbody tr .dots span{
    font-size: 18px;
    font-weight: bold;
    padding: 0;
    margin: 0;
    cursor: pointer;
}