.card{
    width: 500px;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.group{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.label{
    font-size: 16px;
    font-weight: 500;
    color: #0A3D62;
}

.button{
    background-color: #0A3D62;
    border: none;
}